.frm_wrap {
	--medium-grey: #282F36A6;
	--light-grey: #CCD0D4;
	--lightest-grey: #FAFAFA;
	--primary-color: #4299FD;
	--primary-hover: #3177C7;
	max-width: 100% !important;
	width: 80% !important;
	margin: 0 auto !important;
	background: #fff;
	font-family: "Segoe UI","Helvetica Neue",sans-serif !important;
	padding-bottom: 25px;
	border-radius: 5px;
}

.frm_wrap > .wrap {
	margin: 10px 40px 30px;
}

#wpcontent {
	padding-left: 0;
	padding-right: 0;
}

.wrap #post-body {
	padding: 0 20px;
}

table.widefat {
	background: var(--lightest-grey);
	border-width: 0;
	box-shadow: none;
	margin: 20px 0;
}

table.widefat * {
	border: none;
}

table.widefat tfoot,
table.widefat thead {
	background: #fff;
}

table.widefat th {
	font-size: 16px !important;
	font-weight: 400;
}
table.widefat thead td, table.widefat thead th {
    border-bottom: 1px solid var(--light-grey);
}
table.widefat tfoot th {
	border-top: 1px solid var(--light-grey);
}

table.widefat td {
	font-size: 14px !important;
}

.striped > tbody > :nth-child(odd) {
	background-color: #fff;
}

#frm_top_bar {
	display: block;
	width: 100%;
	max-height: 100px;
	padding: 25px 40px 25px;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
}

.frm_top_left {
	text-align: left;
	float: left;
	white-space: nowrap;
	max-width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.frm_top_left.frm_top_wide {
	max-width: 100%;
}

.frm-header-logo,
.edit-php.post-type-frm_display .frm-header-logo {
	float: left;
	margin: 0 15px 0 0;
}

.frm_wrap #frm_top_bar h1 {
	font-size: 22px;
	font-weight: 400;
	padding: 0;
	margin: 0;
	color: var(--medium-grey);
	display: inline-block;
	line-height: 1.4;
}

.frm_wrap strong, .frm_wrap i {
	font-size: 13px;
}
#frm-publishing {
	float: right;
	margin-top: 15px;
	width: 225px;
	min-height: 10px;
}

h1 .frm-button-primary {
	border-color: var(--primary-color);
	border-radius: 30px;
	box-shadow: none;
	font-size: 14px !important;
	font-weight: normal;
	height: auto !important;
	line-height: 26px;
	margin: 0 5px !important;
	min-height: 28px;
	outline: none;
	padding: 0 15px;
	text-shadow: none;
	transition: all .2s ease;
	text-transform: capitalize;
	vertical-align: text-bottom !important;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;

}

.frm-button-primary {
	background-color: var(--primary-color) !important;
	color: #fff !important;
}

.subsubsub {
    list-style: none;
    margin: 8px 0 0;
    padding: 0;
    font-size: 13px;
    float: left;
    color: #666;
}

.subsubsub li {
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.subsubsub a.current {
    color: #000;
    font-weight: 600;
    border: none;
}

.subsubsub a {
    line-height: 2;
    padding: .2em;
    text-decoration: none;
}
.subsubsub a .count, .subsubsub a.current .count {
    color: #555d66;
    font-weight: 400;
}
.tablenav {
    clear: both;
    height: 30px;
    margin: 6px 0 4px;
    padding-top: 5px;
    vertical-align: middle;
}

.tablenav .tablenav-pages {
    float: right;
    margin: 0 0 9px;
}

.tablenav .one-page .displaying-num {
    display: inline-block;
	margin: 5px 0;
	font-size: 13px;
}

.tablenav .view-switch {
    float: right;
    margin: 0 5px;
    padding-top: 3px;
}

.view-switch a.current:before {
    color: #0073aa;
}

.view-switch .view-list:before {
    content: "\f163";
}

.view-switch a:before {
    color: #b4b9be;
    display: inline-block;
    font: normal 20px/1 dashicons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.view-switch a {
    float: left;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 1.84615384;
    text-decoration: none;
}

.screen-reader-text, .screen-reader-text span, .ui-helper-hidden-accessible {
    display: none;
}